.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    max-width: 1500px;
}

.home_container {

}

.home_image {
width: 100%;
z-index: -1;
/* use margin bottom to let divs below this one to bleed over */
margin-bottom:  -180px;
mask-image:  linear-gradient(to bottom, rgb(255, 255, 255), rgba(158, 158, 158, 0));

}

.home_row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}